* {
  box-sizing: border-box;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #000000;
  color: #ffde0a;
  font-size: 17px;
  border: 1px solid #262626;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #262626;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}






ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffde0a;
  text-align: center;
  padding: 14px 79px;
  text-decoration: none;
}

li a:hover {
  background-color: #262626;
}

h1 {
	text-align:center;
	color:#000000;
	
	font-family: Georgia, serif;
	font-size:50px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color:#000000;
  color: #ffde0a;
}

.btn{
	background:#ffde0a;
	
}